<main>
    <div class="title">
        <p>Teacher</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Class</th>
                <th>material</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ahmad</td>
                <td>allan</td>
                <td>0784567890</td>
                <td>aaa200265@gmail.com</td>
                <td>amman</td>
                <td>a</td>
                <td>C++</td>
                <th><button class="btnTable"> <img src="./assets/icons/delete.png" alt="Delete"> Delete</button></th>
            </tr>
        </tbody>
    </table>

    <button class="btnConfig" type="button" (click)="onToggle()">+ Add</button>

    <fieldset class="add" id="add" *ngIf="isVisiable" [ngStyle]="{'display': 'grid'}">
        <legend>Add person</legend>
        <form class="teacher">
            <div class="firstName">
                <label>First name</label>
                <br>
                <input type="text">
            </div>

            <div class="lastName">
                <label>Last name</label>
                <br>
                <input type="text">
            </div>

            <div class="phoneNumber">
                <label>Phone number</label>
                <br>
                <input type="text">
            </div>

            <div class="email">
                <label>Email</label>
                <br>
                <input type="text">
            </div>

            <div class="address">
                <label>Address</label>
                <br>
                <input type="text">
            </div>

            <div class="class">
                <label>Class</label>
                <br>
                <input type="text">
            </div>

            <div class="material">
                <label>Materail</label>
                <br>
                <input type="text">
            </div>
        </form>

        <div class="config">
            <img src="./assets/icons/teacher-add.png" alt="">
            <button class="btnConfig" type="submit"><img src="./assets/icons/save.png" alt="save"> Save</button>
            <button class="btnConfig" type="button"><span style="color: black;">X</span>Cancel</button>
        </div>
    </fieldset>
</main>