<main>
    <div class="title">
        <p>Teacher</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Class</th>
                <th>Material</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers">
                <td>{{teacher.id}}</td>
                <td>{{teacher.firstName}}</td>
                <td>{{teacher.lastName}}</td>
                <td>{{teacher.phoneNumber}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.class}}</td>
                <td>{{teacher.material}}</td>
                <th><button class="btnTable" (click)="deleteTeacher(teacher)"> <img src="./assets/icons/delete.png" alt="Delete"> Delete</button></th>
            </tr>
        </tbody>
    </table>

    <button class="btnConfig" type="button" (click)="onToggle()">+ Add</button>

    <fieldset class="add" id="add" *ngIf="isVisiable" [ngStyle]="{'display': 'grid'}">
        <legend>Add person</legend>
        <form [formGroup]="form" class="formBox">
            <p class="error-message" style="font-size: large;" *ngIf="isSubmitted">Please fill the the form</p>
            <div class="firstName">
                <label>First name</label>
                <br>
                <input type="text" [class.error]="firstNameValid" formControlName="firstName">
                <p class="error-message" *ngIf="firstNameValid" >please enter your first name</p>
            </div>

            <div class="lastName">
                <label>Last name</label>
                <br>
                <input type="text" [class.error]="lastNameValid" formControlName="lastName">
                <p class="error-message" *ngIf="lastNameValid">please enter your last name</p>
            </div>

            <div class="phoneNumber">
                <label>Phone number</label>
                <br>
                <input type="text" placeholder="079XXXXXXX" [class.error]="phoneValid" formControlName="phone">
                <p class="error-message" *ngIf="phoneValid">please enter your phone number correct</p>
            </div>

            <div class="email">
                <label>Email</label>
                <br>
                <input type="text" [class.error]="emailValid" formControlName="email">
                <p class="error-message" *ngIf="emailValid">please enter your email</p>
            </div>

            <div class="class">
                <label>Class</label>
                <br>
                <input type="text" [class.error]="classValid"  formControlName="class">
                <p class="error-message" *ngIf="classValid">please enter the teacher class</p>
            </div>

            <div class="material">
                <label>Material</label>
                <br>
                <input type="text" [class.error]="materialValid" formControlName="material">
                <p class="error-message" *ngIf="materialValid">please enter the teacher metrial</p>
            </div>
        </form>

        <div class="config">
            <img src="./assets/icons/teacher-add.png" alt="">
            <button class="btnConfig" (click)="addTeacher()"><img src="./assets/icons/save.png" alt="save"> Save</button>
            <button class="btnConfig" (click)="onClick()">x Cancel</button>
        </div>
    </fieldset>
</main>