<main>
    <div class="title">
        <p>Parent</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Address</th>
                <th>User name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ahmad</td>
                <td>allan</td>
                <td>0784567890</td>
                <td>aaa200265@gmail.com</td>
                <td>amman</td>
                <td>root</td>
                <th><button class="btnTable"> <img src="./assets/icons/delete.png" alt="Delete"> Delete</button></th>
            </tr>
            
        </tbody>
    </table>

    <button class="btnConfig" type="button" (click)="onToggle()">+ Add</button>

    <fieldset class="add" id="add" *ngIf="isVisiable" [ngStyle]="{'display': 'grid'}">
        <legend>Add person</legend>
        <form class="formBox" [formGroup]="form">
            <p class="error-message" style="font-size: large;" *ngIf="isSubmitted">Please fill the the form</p>
            <div class="firstName">
                <label>First name</label>
                <br>
                <input type="text" [class.error]="firstNameValid" formControlName="firstName">
                <p class="error-message" *ngIf="firstNameValid" >please enter your first name</p>
            </div>

            <div class="lastName">
                <label>Last name</label>
                <br>
                <input type="text" [class.error]="lastNameValid" formControlName="lastName">
                <p class="error-message" *ngIf="lastNameValid">please enter your last name</p>
            </div>

            <div class="userName">
                <label>User name</label>
                <br>
                <input type="text" [class.error]="userNameValid" formControlName="userName">
                <p class="error-message" *ngIf="userNameValid">please enter your user name</p>
            </div>

            <div class="phoneNumber">
                <label>Phone number</label>
                <br>
                <input type="text" placeholder="079XXXXXXX" [class.error]="phoneValid" formControlName="phone">
                <p class="error-message" *ngIf="phoneValid">please enter your phone number correct</p>
            </div>

            <div class="email">
                <label>Email</label>
                <br>
                <input type="text" [class.error]="emailValid" formControlName="email">
                <p class="error-message" *ngIf="emailValid">please enter your email</p>
            </div>

            <div class="address">
                <label>Address</label>
                <br>
                <input type="text" [class.error]="addressValid" formControlName="address">
                <p class="error-message" *ngIf="addressValid">please enter your address</p>
            </div>

            <div class="password">
                <label>Password</label>
                <br>
                <input type="password" [class.error]="passwordVaild" formControlName="password">
                <p class="error-message" *ngIf="passwordVaild">please enter your password</p>
            </div>

            <div class="confirm">
                <label>Confirm password</label>
                <br>
                <input type="password" [class.error]="passwordConfirmValid" formControlName="passwordConfirm">
                <p class="error-message" *ngIf="passwordConfirmValid">this does not match your entered password</p>
            </div>
        </form>

        <div class="config">
            <img src="./assets/icons/admin-add.png" alt="">
            <button class="btnConfig" (click)="onClick('add')"><img src="./assets/icons/save.png" alt="save"> Save</button>
            <button class="btnConfig" (click)="onClick('cancel')">x Cancel</button>
        </div>
    </fieldset>
</main>