<main>
    <div class="title">
        <p>Parents</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ahmad</td>
                <td>allan</td>
                <td>0784567890</td>
                <td>amman</td>
                <th><button class="btnTable"> <img src="./assets/icons/delete.png" alt="Delete"> Delete</button></th>
            </tr>
            <tr>
                <td>1</td>
                <td>ahmad</td>
                <td>allan</td>
                <td>0784567890</td>
                <td>amman</td>
                <th><button class="btnTable"> <img src="./assets/icons/delete.png" alt="Delete"> Delete</button></th>
            </tr>
        </tbody>
    </table>

    <button class="btnConfig" type="button" (click)="onToggle()">+ Add</button>

    <fieldset class="add" id="add" *ngIf="isVisiable" [ngStyle]="{'display': 'grid'}">
        <legend>Add person</legend>
        <form class="formBox" [formGroup]="form">
            <p class="error-message" style="font-size: large;" *ngIf="isSubmitted">Please fill the the form</p>

            <div class="firstName">
                <label>First name</label>
                <br>
                <input type="text" [class.error]="firstNameValid" formControlName="firstName">
                <p class="error-message" *ngIf="firstNameValid" >please enter the parent first name</p>
            </div>

            <div class="lastName">
                <label>Last name</label>
                <br>
                <input type="text" [class.error]="lastNameValid" formControlName="lastName">
                <p class="error-message" *ngIf="lastNameValid">please enter the parent last name</p>
            </div>

            <div class="phoneNumber">
                <label>Phone number</label>
                <br>
                <input type="text" placeholder="079XXXXXXX" [class.error]="phoneValid" formControlName="phone">
                <p class="error-message" *ngIf="phoneValid">please enter the parent phone number correct</p>
            </div>

            <div class="address">
                <label>Address</label>
                <br>
                <input type="text" [class.error]="addressValid" formControlName="address">
                <p class="error-message" *ngIf="addressValid">please enter the parent address</p>
            </div>
        </form>

        <div class="config">
            <img src="./assets/icons/parent-add.png" alt="">
            <button class="btnConfig" (click)="onClick('add')"><img src="./assets/icons/save.png" alt="save"> Save</button>
            <button class="btnConfig" (click)="onClick('cancel')">x Cancel</button>
        </div>
    </fieldset>
</main>