<nav>
    <div class="navElement" id="dashboard" (click)="setActive('dashboard')" [ngClass]="{'active': activeDivId === 'dashboard'}">
        <img src="./assets/icons/dashboard.png" alt="Dashboard">
        <p>Dashboard</p>
   </div>
   <div class="navElement" id="parent" (click)="setActive('parent')" [ngClass]="{'active': activeDivId === 'parent'}">
        <img src="./assets/icons/parent.png" alt="Parent">
        <p>Parent</p>
   </div>
   <div class="navElement" id="teacher" (click)="setActive('teacher')" [ngClass]="{'active': activeDivId === 'teacher'}">
        <img src="./assets/icons/teacher.png" alt="Teacher">
        <p>teacher</p>
   </div>
   <div class="navElement" id="student" (click)="setActive('student')" [ngClass]="{'active': activeDivId === 'student'}">
        <img src="./assets/icons/student.png" alt="Student">
        <p>Student</p>
   </div>
   <div class="navElement" id="admin" (click)="setActive('admin')" [ngClass]="{'active': activeDivId === 'admin'}">
        <img src="./assets/icons/admin.png" alt="Admin">
        <p>Admin</p>
   </div>
   

    <div class="navElement" id="logout">
        <img src="./assets/icons/logout.png" alt="Logout">
        <p>Logout</p>
    </div>
</nav>