<div class="main">
    <div class="image">
        <img src="./assets/icons/login.png" alt="Login">
        <p>Login in to your account</p>
    </div>
        <form class="login" accept="./dashboard.html">
            <p>Enter your user name and password</p>
            <div class="userName">
                <label for="userName">User name</label>
                <br>
                <input type="text" id="userName">
            </div>
            <div class="pass">
                <label for="pass">Password</label>
                <br>
                <input type="text" id="pass">
            </div>
            <button class="btnConfig" id="btnlogin" type="button"><img src="./assets/icons/login-btn.png" alt="login"> Login</button>
        </form>             
</div>