<main>
    <div class="title">
        <p>Dashboard</p>
    </div>
    <div class="cards">
        <div class="card">
            <img src="./assets/icons/id-card.png" alt="id card">
            <hr>
            <div class="info">
                <label>Full name:</label>
                <p class="text">test test</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/icons/email.png" alt="Eamil">
            <hr>
            <div class="info">
                <label>Email:</label>
                <p class="text">root@root.com</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/icons/phone.png" alt="Phone">
            <hr>
            <div class="info">
                <label>Phone:</label>
                <p class="text">0784567890</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/icons/address.png" alt="Address">
            <hr>
            <div class="info">
                
                <label>Address:</label>
                <p class="text">jordan, Amman</p>
            </div>
        </div>
    </div>
</main>

