/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import './variables.css';


html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
}

body{
    min-height: 100vh;
}

/* main */
main{
    margin: 30px;
}

.title{
    border-left: 3px solid var(--secondary-color);
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 800;
    color: var(--primary-color);
}
/* table style */
table {
    width: 1200px;
    margin-left: 10px;
}

table, tr, th, td {
    border: 2px solid var(--table-border-color);
    border-collapse: collapse;
    color: var(--table-text-color);
}
tr:nth-child(even){background-color: #f2f2f2}

thead {
    background-color: var(--table-row-color);
}

tbody tr > * {
    padding: 5px;
}

tbody tr th:last-child{
    display: flex;
    justify-content: center;
    border: 1px;
}

th img {
    width: 20px;
}

@media only screen and (max-width: 700px){
    table {
        overflow-x: auto;
    }
}

/* fieldset */
fieldset {
    width: fit-content;
    height: fit-content;
    display: none;
    border: 3px solid var(--border-color);
    color: var(--primary-color);
    margin-top: 20px;
    margin-left: 10px;
}

fieldset legend {
    color: var(--secondary-color);
}


.formBox {
    display: grid;
    grid: 100px 100px 100px / 1fr 1fr 1fr;
}

.formBox div > input{
    width: 80%;
    height: 30px;
    grid-row-start: 2;
}

@media only screen and (max-width: 700px){
    .add {
        display: flex;
        flex-direction: column;
    }

    .formBox {
        display: flex;
        flex-direction: column;
    }
}

.config {
    margin-top: 10px;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid: .5fr / 1fr 1fr;
    justify-items: center;
}

.config img {
    width: 150px;
    grid-column-start: 1;
    grid-column-end: 3;

}

.config button {
    display: inline;
    width: 100px;
    height: 50px;
}


.config button img{
    width: 20px;
}
/* Buttons */
button:hover{
    cursor: pointer;
}
.btnConfig {
    width: 100px;
    padding: 10px;
    gap: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
}

.btnTable {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100px;
    padding:8px;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

/* Footer */


app-root {
    position: absolute;
    display: block;
    position: relative;
    padding-bottom: 95px;
}

footer {
    position: relative;

}

/*  error input style */

input.error {
    border: 2px solid red;
}
  
.error-message {
    grid-column-start: 1;
    grid-column-end: 4;
    color: red;
    font-size: 12px;
}

input {
    margin-top: 5px;
}
